body {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/269465232491153951/2CD657165732FB6B74DC4E9F677C8D0E2678499D/");
  margin: 2.5cm;
  width: 90%;
  padding: 10px;
  text-align: center;
}
h1 {
    font-weight: bold;
    color: peru;
}
h2 {
    color: chocolate;
}
h3 {
    font-weight: bold;
    color: chocolate;
}
h4 {
    color: chocolate;
}
table {
    background-color: #D8F0DA;
    color: white;
    text-align: center;
    vertical-align: center;
    border-collapse: collapse;
    border-spacing: 5px;
    padding: 10px;
    background: transparent;

  }
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  table, th, td {
    border: 2px solid chocolate;
  }